<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP NRO5 - Bolanho Alejo Eloy</title>
</head>
<body>
    <div class="text-center">
        <h1 >TP NRO5 - Bolanho Alejo Eloy</h1>
        <div class="d-flex flex-column align-items-center">
            <button type="button" class="btn btn-primary btn-custom my-2" onclick="location.href='/translate'" >Traductor</button>
            <button type="button" class="btn btn-secondary btn-custom my-2" onclick="location.href='/noticia'">Noticias</button>
            <button type="button" class="btn btn-success btn-custom my-2" onclick="location.href='/autos'">Autos</button>
            <button type="button" class="btn btn-danger btn-custom my-2" onclick="location.href='/ip'">Direccion IP</button>
            <button type="button" class="btn btn-primary btn-custom my-2" onclick="location.href='/musica'" >Musica</button>
            <button type="button" class="btn btn-secondary btn-custom my-2" onclick="location.href='/dictionary'">Diccionario</button>
            <button type="button" class="btn btn-success btn-custom my-2" onclick="location.href='/covid'">Covid</button>
            <button type="button" class="btn btn-danger btn-custom my-2" onclick="location.href='/receta'">Recetas</button>
        </div>
    </div>
</body>
</html>
