<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de IP</title>
</head>
<body>
    <div class="container mt-5">
        <form class="mb-4">
            <div class="form-group">
                <label for="Texto">Ingresar palabra</label>
                <input type="text" id="Texto" name="Texto" class="form-control" [(ngModel)]="palabra">
            </div>
            <button type="button" id="buscar" class="btn btn-primary mt-2" (click)="buscarPalabra(palabra)">Buscar</button>
        </form>

        <div class="card" style="width: 100%;">
            <div class="card-header">
                <h3>Información</h3>
                <h5>Palabra: {{ definicion.word }}</h5>
                <h5>Definicion: {{ definicion.definition }}</h5>
                <h5>Ejemplo: {{ definicion.example }}</h5>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</body>
</html>
